@media screen and (min-width: 1200px) {
  .mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    min-height: 100vh;
    overflow: hidden;

    background: #14172b;
  }
  .createLotContainer {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;

    padding: 2.19vh 1.25vw;
    gap: 2.19vh 1.25vw;

    width: 31.2vw;
    height: 34.61vh;

    background: linear-gradient(
      180deg,
      rgba(98, 106, 136, 0.1) 0%,
      rgba(46, 49, 73, 0.1) 100%
    );

    border: 0.0521vh solid rgba(255, 255, 255, 0.05);
    border-radius: 1.5525vh;

    flex: none;
    order: 0;
    flex-grow: 0;
  }
  .textContainer {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding: 0.9132vh 0.8333vw;
    gap: 0.5479vh 0.3125vw;

    height: 3.105vh;

    background: #14172b;
    border-radius: 0.9132vh;

    flex: none;
    order: 0;
    flex-grow: 0;
    font-family: 'Bai Jamjuree';
    font-style: normal;
    font-weight: 700;
    font-size: 1.28vh;
    line-height: 1.64vh;

    text-align: center;

    color: rgba(255, 255, 255, 0.9);

    opacity: 0.9;
  }
  .questionMarkContainer {
    width: 0.7813vw;
    height: 1.3699vh;
  }
  .questionMainContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .createLotButtonContainer {
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1.19vh 1.25vw;

    width: 28.6458vw;
    height: 2.7397vh;

    background: linear-gradient(175.25deg, #9e44ff 3.56%, #543eff 103.97%);
    border-radius: 1.55vh;

    flex: none;
    order: 0;
    flex-grow: 1;
  }
  .userLotContainer {
    font-family: 'Tomorrow';
    font-style: normal;
    font-weight: 600;
    font-size: 1.64vh;
    line-height: 2.01vh;
    letter-spacing: -0.025em;
    color: rgba(255, 255, 255, 0.9);
  }
  .descriptionContainer {
    font-family: 'Tomorrow';
    font-style: normal;
    font-weight: 400;
    font-size: 1.46vh;
    line-height: 2.19vh;

    color: rgba(255, 255, 255, 0.7);

    opacity: 0.8;
  }
  .imagesContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin: 0.91vh 0.52vw;
  }
  .imageContainer {
    width: 4.79vw;
    height: 6.04vh;
  }
  .loopContainer {
    width: 3.05vw;
    height: 7.67vh;
  }
}
@media screen and (max-width: 1350px) {
  .mainContainer {
    display: none;
  }
}
