@media screen and (min-width: 1200px) {
  .drawerContainer {
    background: url('./images/Rectangle.png') no-repeat;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    width: 100%;
    height: '100%';
    overflow: hidden;
    display: flex;
    flex-direction: column;

    align-items: center;
  }
  .assetContainer {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;

    padding: 2.34vh 1.25vw;
    gap: 2.34vh 1.25vw;
    isolation: isolate;

    position: absolute;
    width: 30.68vw;
    height: 86.13vh;
    left: 34.64vw;
    top: 6.93vh;

    background: linear-gradient(
      180deg,
      rgba(98, 106, 136, 0.1) 0%,
      rgba(46, 49, 73, 0.1) 100%
    );

    border: 0.0977vh solid rgba(255, 255, 255, 0.05);
    border-radius: 1.6602vh;
  }
  .headingContainer {
    font-family: 'Tomorrow';
    font-style: normal;
    font-weight: 900;
    font-size: 1.5625vh;
    line-height: 2.3438vh;
    color: rgba(255, 255, 255, 0.9);
    width: 6.04vw;
    height: 2.34vh;
  }
  .closeImageContainer {
    width: 1.25vw;
    height: 2.34vh;
  }
  .headingMain {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .tabIndexContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px;
    gap: 16.21vh 8.65vw;
  }
  .indexContainer {
    box-sizing: border-box;
    width: 1.5625vw;
    height: 2.9297vh;
    /* background: linear-gradient(175.25deg, #9e44ff 3.56%, #543eff 103.97%); */
    border: 0.0977vh solid rgba(255, 255, 255, 0.05);
    border-radius: 50%;
    text-align: center;
  }
  .subHeadingContainer {
    font-family: 'Tomorrow';
    font-style: normal;
    font-weight: 600;
    font-size: 1.7578vh;
    line-height: 2.1484vh;

    text-align: center;
    letter-spacing: -0.025em;
    gap: 0.78vh 0.42vw;

    height: 2.25vh;

    color: rgba(255, 255, 255, 0.9);
  }
  .searchContainer {
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1.17vh 2.08vw 1.17vh 0.83vw;
    gap: 1.17vh 0.63vw;

    width: 28.07vw;
    height: 3.91vh;

    background: #14172b;
    backdrop-filter: blur(50px);

    border-radius: 17px;
  }
  .drawerAssetContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2.34vh 1.25vw;
  }
  .drawerAssetContainerHeading {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.3906vh 0.8333vw;
    gap: 0.9766vh 0.5208vw;

    color: #56565a;
    border-radius: 1.1719vh;

    font-family: 'Bai Jamjuree';
    font-style: normal;
    font-weight: 600;
    font-size: 1.5625vh;
    line-height: 2.34375vh;

    text-align: center;
    letter-spacing: 0.02em;

    opacity: 0.9;
  }
  .drawerAssetContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0.78vh 0.42vw;
  }
  .drawerAssetContainer1 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* width: 28.18vw;
    height: 7.42vh; */
    gap: 0.78vh 0.42vw;
  }
  .drawerAssetContainerName {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.78125vh 0.4166vw;
    gap: 0.9766vh 0.5208vw;

    border: 0.0977vh solid rgba(255, 255, 255, 0.05);
    border-radius: 0.7813vh;
    font-family: 'Tomorrow';
    font-style: normal;
    font-weight: 600;
    font-size: 1.3672vh;

    line-height: 1.7578vh;

    text-align: center;
    text-transform: capitalize;

    color: rgba(255, 255, 255, 0.7);

    opacity: 0.9;
  }
  .drawerAssetContainerImage {
    background: #edf0f4;
    border-radius: 50%;
    height: 3.13vh;
    width: 1.67vw;
  }
  .buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .buttonContainerBack {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding: 0vh 1.25vw;
    gap: 0.78vh 0.42vw;
    width: 18vw;
    height: 3.91vh;

    background: linear-gradient(175.25deg, #9e44ff 3.56%, #543eff 103.97%);
    border-radius: 1.66vh;

    flex: none;
    order: 0;
    flex-grow: 1;
  }
  .userAssetContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.76vh 0.83vw;
    gap: 2.25vh 1.2vw;

    width: 10.49vw;
    height: 14.06v;

    background: #14172b;
    border-radius: 0.976vh;

    font-family: 'Tomorrow';
    font-style: normal;
    font-weight: 600;
    font-size: 1.367vh;
    line-height: 1.757vh;

    text-align: center;
    text-transform: capitalize;

    color: rgba(255, 255, 255, 0.7);

    opacity: 0.9;
  }
  .userAssetMainContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .userAssetImage {
    /* width: 1.25vw;
    height: 2.222vh; */
    width: 3.33vw;
    height: 6.25vh;
    padding: 1.481vh 0.833vw;
    border-radius: 50%;
    border-color: 9e44ff;
    min-width: 1.302vw;
    min-height: 2.44vh;
  }
  .userAssetImageContainer {
    border-radius: 50%;
    border-color: #9e44ff;
  }
  .userAssetHeadingContainer {
    font-family: 'Tomorrow';
    font-style: normal;
    font-weight: 600;
    font-size: 1.757vh;
    line-height: 1.757vh;

    text-align: center;
    text-transform: capitalize;

    color: rgba(255, 255, 255, 0.7);

    opacity: 0.9;
  }
  .userAssetImageUserContainer {
    background: #edf0f4;
    border-radius: 50%;
    min-width: 1.302vw;
    min-height: 2.44vh;
  }

  .fundYourPoolContainer {
    display: flex;
    flex-direction: row;
    width: 26.51vw;
    padding: 1.367vh 0.833vw;

    background: #14172b;
    border-radius: 1.66vh;
    font-family: 'Tomorrow';
    font-style: normal;
    font-weight: 600;
    font-size: 1.171vh;
    line-height: 2.343vh;

    color: rgba(255, 255, 255, 0.9);

    opacity: 0.9;
    margin-bottom: 2.34vh;
  }
  .popupContainer {
    color: #ffffff;
    align-items: center;
    height: 1.953vh;
    border-radius: 0.976vh;
    padding: 0.976vh 0.52vw;
    background-color: red;
    font-weight: bolder;
    z-index: 100;
    position: fixed;
    top: 1.953vh;
  }
  .userAssetHeadingContainer1 {
    font-family: 'Tomorrow';
    font-style: normal;
    font-weight: 600;
    font-size: 1.37vh;
    line-height: 1.76vh;
    /* identical to box height, or 125% */

    text-align: center;

    /* Dark/Greyscale/200 */

    color: rgba(255, 255, 255, 0.7);

    opacity: 0.9;
    margin-bottom: 0.585vh;
  }
  .detailsContainer {
    display: flex;
    flex-direction: column;
  }

  .endButtonContainer {
    display: flex;
    flex-direction: row;

    position: absolute;
    top: 80vh;
    /* left: 0; */

    /* left: 1.25vw; */
  }
  .lineContainer {
    position: absolute;
    width: 27.31vw;
    height: 1.17vh;
    left: 36.3vw;
    top: 15.14vh;

    background: rgba(255, 255, 255, 0.05);
    border-radius: 8px;
  }
}
@media screen and (max-width: 1350px) {
  .drawerContainer {
    display: none;
  }
}
